.header-view {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: #353535;
    height: 5rem;
    position: sticky;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

.header img {
    height: 75%;
    transition: height 400ms, transform 400ms;
}

.header img:hover {
    height: 90%;
    transform: rotate(360deg);
}

.header-view .navigation {
    justify-self: flex-start;
}

.header {
    height: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 1;
}