div.add-stepper {
    display: flex;
    width: 85%;
}

.grow-container {
    flex-grow: 1;
}

@media screen and (max-width: 600px) {
    div.add-stepper {
        width: auto;
        flex-direction: column;
        align-items: baseline;
        gap: 0.5rem;
    }

    .form-personal {
        width: 100%;
    }
}